<div class="about">
  <h1>About Page</h1>

  <p>
    Angular is a powerful open-source front-end framework developed and
    maintained by Google. It is used to build dynamic, single-page web
    applications (SPAs) with a structured and scalable architecture. Angular is
    based on TypeScript, which provides strong typing and modern JavaScript
    features, making development more reliable and maintainable.
  </p>

  <p>
    Angular is a powerful open-source front-end framework developed and
    maintained by Google. It is used to build dynamic, single-page web
    applications (SPAs) with a structured and scalable architecture. Angular is
    based on TypeScript, which provides strong typing and modern JavaScript
    features, making development more reliable and maintainable.
  </p>
  <hr />
  <div class="button-container">
    <button routerLink="/home">Home</button>
  </div>
  <hr />
</div>
