<div style="border: 1px solid #d10000; padding: 16px">
  <h2 style="text-align: center">Login Component</h2>

  <table>
    <tr>
      <td>Phone Number:</td>
      <td>
        <input type="text" placeholder="Enter phone number" #phoneNumber />
      </td>
    </tr>

    <tr>
      <td>Password:</td>
      <td>
        <input type="password" placeholder="Enter password" #password />
      </td>
    </tr>

    <tr>
      <td colspan="2" style="text-align: center">
        <button (click)="loginChecks(phoneNumber.value, password.value)">
          Login
        </button>

        <p *ngIf="errorMessage" style="color: red">
          {{ errorMessage }}
        </p>
      </td>
    </tr>
  </table>
</div>
